<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
</head>

<body>
	<h1> REGISTRO DE CUIDADORES </h1>    
	<form th:action="@{/user/lista/{id}(id=${cuidador.idCuidador})}" method="post">
		<div th:object="${cuidador}">
			<label>Cedula: </label>
        	<input type="text" name="nombre" th:field="*{cedula}">
        	<br><br>
        	<label>Nombre: </label>
        	<input type="text" name="nombre" th:field="*{nombre}">
        	<br><br>
        	<label>Apellido: </label>
        	<input type="text" name="apellido" th:field="*{apelldido}">
        	<br><br>
        	<label>Calle </label>
        	<input type="number" name="calle" th:field="*{calle}">
        	<br><br>
        	<label>Carrera: </label>
        	<input type="text" name="carrera" th:field="*{carrera}">
        	<br><br>
        	<label>Numero </label>
        	<input type="number" name="numero" th:field="*{numero}">
        	<br><br>
        	<label>Detalle </label>
        	<input type="text" name="detalle" th:field="*{detalle}">
        	<br><br>
        </div>
            <br><br>
	    	<input type ="submit" value="Enviar">
	</form>
</body>

</html>